* text=auto !eol
emu/Makefile -text
emu/doc/html/index.html -text
emu/doc/html/overview.html -text
emu/emuDAQ/DDUReadout/Makefile -text
emu/emuDAQ/DDUReadout/ORCA/Muon/METBRawFormat/interface/MuEndDDUHeader.h -text
emu/emuDAQ/DDUReadout/include/BinaryEventStream.h -text
emu/emuDAQ/DDUReadout/include/DDUReader.h -text
emu/emuDAQ/DDUReadout/include/EventStream.h -text
emu/emuDAQ/DDUReadout/include/FileReader.h -text
emu/emuDAQ/DDUReadout/include/FileReaderDCC.h -text
emu/emuDAQ/DDUReadout/include/FileReaderDDU.h -text
emu/emuDAQ/DDUReadout/include/HardwareDDU.h -text
emu/emuDAQ/DDUReadout/include/schar.h -text
emu/emuDAQ/DDUReadout/src/common/BinaryEventStream.cc -text
emu/emuDAQ/DDUReadout/src/common/DDUReader.cc -text
emu/emuDAQ/DDUReadout/src/common/EventStream.cc -text
emu/emuDAQ/DDUReadout/src/common/FileReader.cc -text
emu/emuDAQ/DDUReadout/src/common/FileReaderDCC.cc -text
emu/emuDAQ/DDUReadout/src/common/FileReaderDDU.cc -text
emu/emuDAQ/DDUReadout/src/common/HardwareDDU.cc -text
emu/emuDAQ/DDUReadout/test/common/HardwareDumper.cpp -text
emu/emuDAQ/EmuRUI/Makefile -text
emu/emuDAQ/EmuRUI/include/EmuConfigRUI.h -text
emu/emuDAQ/EmuRUI/include/EmuRUI.h -text
emu/emuDAQ/EmuRUI/include/EmuRUISO.h -text
emu/emuDAQ/EmuRUI/include/EmuRUIV.h -text
emu/emuDAQ/EmuRUI/src/common/EmuConfigRUI.cc -text
emu/emuDAQ/EmuRUI/src/common/EmuRUI.cc -text
emu/emuDAQ/EmuRUI/src/common/EmuRUISO.cc -text
emu/emuDAQ/EmuRUI/src/common/EmuRUIV.cc -text
emu/emuDAQ/EmuRUI/xml/rui_ta.xml -text
emu/emuDAQ/EmuRUI/xml/rui_ta_fu.xml -text
emu/emuDAQ/GenericRUI/Makefile -text
emu/emuDAQ/GenericRUI/include/EventReader.h -text
emu/emuDAQ/GenericRUI/include/EventWriter.h -text
emu/emuDAQ/GenericRUI/include/GenericRUI.h -text
emu/emuDAQ/GenericRUI/include/RUIDataRequest.h -text
emu/emuDAQ/GenericRUI/include/RUIDataRequestListener.h -text
emu/emuDAQ/GenericRUI/src/common/GenericRUI.cc -text
emu/emuDAQ/Makefile -text
emu/emuDCS/Makefile -text
emu/emuDCS/PeripheralCore/include/ALCTController.h -text
emu/emuDCS/PeripheralCore/include/AnodeChannel.h -text
emu/emuDCS/PeripheralCore/include/BuckeyeChip.h -text
emu/emuDCS/PeripheralCore/include/CCB.h -text
emu/emuDCS/PeripheralCore/include/CFEB.h -text
emu/emuDCS/PeripheralCore/include/Crate.h -text
emu/emuDCS/PeripheralCore/include/CrateSelector.h -text
emu/emuDCS/PeripheralCore/include/CrateSetup.h -text
emu/emuDCS/PeripheralCore/include/DAQMB.h -text
emu/emuDCS/PeripheralCore/include/DAQMBTester.h -text
emu/emuDCS/PeripheralCore/include/EmuPeripheralCrate.h -text
emu/emuDCS/PeripheralCore/include/GenDATA.h -text
emu/emuDCS/PeripheralCore/include/JTAG_constants.h -text
emu/emuDCS/PeripheralCore/include/MPC.h -text
emu/emuDCS/PeripheralCore/include/TMB.h -text
emu/emuDCS/PeripheralCore/include/TMB_constants.h -text
emu/emuDCS/PeripheralCore/include/VMEController.h -text
emu/emuDCS/PeripheralCore/include/VMEModule.h -text
emu/emuDCS/PeripheralCore/include/geom.h -text
emu/emuDCS/PeripheralCore/src/common/ALCTController.cc -text
emu/emuDCS/PeripheralCore/src/common/AnodeChannel.cc -text
emu/emuDCS/PeripheralCore/src/common/CCB.cc -text
emu/emuDCS/PeripheralCore/src/common/CFEB.cc -text
emu/emuDCS/PeripheralCore/src/common/Crate.cc -text
emu/emuDCS/PeripheralCore/src/common/CrateSelector.cc -text
emu/emuDCS/PeripheralCore/src/common/CrateSetup.cc -text
emu/emuDCS/PeripheralCore/src/common/DAQMB.cc -text
emu/emuDCS/PeripheralCore/src/common/DAQMBTester.cc -text
emu/emuDCS/PeripheralCore/src/common/MPC.cc -text
emu/emuDCS/PeripheralCore/src/common/TMB.cc -text
emu/emuDCS/PeripheralCore/src/common/VMEController.cc -text
emu/emuDCS/PeripheralCore/src/common/VMEController_jtag.cc -text
emu/emuDCS/PeripheralCore/src/common/VMEModule.cc -text
emu/emuDCS/PeripheralCrate/Makefile -text
emu/emuDCS/PeripheralCrate/include/ALCTClasses.h -text
emu/emuDCS/PeripheralCrate/include/ALCTController.h -text
emu/emuDCS/PeripheralCrate/include/AnodeChannel.h -text
emu/emuDCS/PeripheralCrate/include/BuckeyeChip.h -text
emu/emuDCS/PeripheralCrate/include/CCB.h -text
emu/emuDCS/PeripheralCrate/include/CCBParser.h -text
emu/emuDCS/PeripheralCrate/include/CFEB.h -text
emu/emuDCS/PeripheralCrate/include/CalibDAQ.h -text
emu/emuDCS/PeripheralCrate/include/Crate.h -text
emu/emuDCS/PeripheralCrate/include/CrateSelector.h -text
emu/emuDCS/PeripheralCrate/include/CrateSetup.h -text
emu/emuDCS/PeripheralCrate/include/DAQMB.h -text
emu/emuDCS/PeripheralCrate/include/DAQMBParser.h -text
emu/emuDCS/PeripheralCrate/include/DAQMBTester.h -text
emu/emuDCS/PeripheralCrate/include/DDU.h -text
emu/emuDCS/PeripheralCrate/include/DDUParser.h -text
emu/emuDCS/PeripheralCrate/include/EmuParser.h -text
emu/emuDCS/PeripheralCrate/include/EmuPeripheralCrate.h -text
emu/emuDCS/PeripheralCrate/include/EmuPeripheralCrateSO.h -text
emu/emuDCS/PeripheralCrate/include/EmuPeripheralCrateV.h -text
emu/emuDCS/PeripheralCrate/include/GenDATA.h -text
emu/emuDCS/PeripheralCrate/include/JTAG_constants.h -text
emu/emuDCS/PeripheralCrate/include/MPC.h -text
emu/emuDCS/PeripheralCrate/include/MPCParser.h -text
emu/emuDCS/PeripheralCrate/include/OwnIt.h -text
emu/emuDCS/PeripheralCrate/include/PCDriverI2oListener.h -text
emu/emuDCS/PeripheralCrate/include/PCI2oMsgs.h -text
emu/emuDCS/PeripheralCrate/include/PeripheralCrateController.h -text
emu/emuDCS/PeripheralCrate/include/PeripheralCrateParser.h -text
emu/emuDCS/PeripheralCrate/include/Singleton.h -text
emu/emuDCS/PeripheralCrate/include/TMB.h -text
emu/emuDCS/PeripheralCrate/include/TMBParser.h -text
emu/emuDCS/PeripheralCrate/include/TMB_constants.h -text
emu/emuDCS/PeripheralCrate/include/TestBeamCrateController.h -text
emu/emuDCS/PeripheralCrate/include/VMEController.h -text
emu/emuDCS/PeripheralCrate/include/VMEModule.h -text
emu/emuDCS/PeripheralCrate/include/VMEParser.h -text
emu/emuDCS/PeripheralCrate/include/alct_registers.h -text
emu/emuDCS/PeripheralCrate/include/elong.h -text
emu/emuDCS/PeripheralCrate/include/geom.h -text
emu/emuDCS/PeripheralCrate/src/common/ALCTController.cc -text
emu/emuDCS/PeripheralCrate/src/common/AnodeChannel.cc -text
emu/emuDCS/PeripheralCrate/src/common/CCB.cc -text
emu/emuDCS/PeripheralCrate/src/common/CCBParser.cc -text
emu/emuDCS/PeripheralCrate/src/common/CFEB.cc -text
emu/emuDCS/PeripheralCrate/src/common/CalibDAQ.cc -text
emu/emuDCS/PeripheralCrate/src/common/Crate.cc -text
emu/emuDCS/PeripheralCrate/src/common/CrateSelector.cc -text
emu/emuDCS/PeripheralCrate/src/common/CrateSetup.cc -text
emu/emuDCS/PeripheralCrate/src/common/DAQMB.cc -text
emu/emuDCS/PeripheralCrate/src/common/DAQMBParser.cc -text
emu/emuDCS/PeripheralCrate/src/common/DAQMBTester.cc -text
emu/emuDCS/PeripheralCrate/src/common/DAQMB_jtag.cc -text
emu/emuDCS/PeripheralCrate/src/common/DDU.cc -text
emu/emuDCS/PeripheralCrate/src/common/DDUParser.cc -text
emu/emuDCS/PeripheralCrate/src/common/EmuParser.cc -text
emu/emuDCS/PeripheralCrate/src/common/EmuPeripheralCrate.cc -text
emu/emuDCS/PeripheralCrate/src/common/EmuPeripheralCrateSO.cc -text
emu/emuDCS/PeripheralCrate/src/common/EmuPeripheralCrateV.cc -text
emu/emuDCS/PeripheralCrate/src/common/MPC.cc -text
emu/emuDCS/PeripheralCrate/src/common/MPCParser.cc -text
emu/emuDCS/PeripheralCrate/src/common/PCDriverI2oListener.cpp -text
emu/emuDCS/PeripheralCrate/src/common/PeripheralCrateController.cc -text
emu/emuDCS/PeripheralCrate/src/common/PeripheralCrateParser.cc -text
emu/emuDCS/PeripheralCrate/src/common/TMB.cc -text
emu/emuDCS/PeripheralCrate/src/common/TMBParser.cc -text
emu/emuDCS/PeripheralCrate/src/common/TMB_trgmode.cc -text
emu/emuDCS/PeripheralCrate/src/common/TestBeamCrateController.cc -text
emu/emuDCS/PeripheralCrate/src/common/VMEController.cc -text
emu/emuDCS/PeripheralCrate/src/common/VMEController_jtag.cc -text
emu/emuDCS/PeripheralCrate/src/common/VMEModule.cc -text
emu/emuDCS/PeripheralCrate/src/common/VMEParser.cc -text
emu/emuDCS/PeripheralCrate/src/common/elong.cc -text
emu/emuDCS/PeripheralCrate/test/common/alctmain.cpp -text
emu/emuDCS/PeripheralCrate/test/common/contrmain.cpp -text
emu/emuDCS/PeripheralCrate/test/common/loadALCT.cpp -text
emu/emuDCS/PeripheralCrate/test/common/parsemain.cpp -text
emu/emuDCS/PeripheralCrate/test/common/slicetestconfig.cpp -text
emu/emuDCS/PeripheralCrate/test/common/testbeamcontrol.cpp -text
emu/emuDCS/PeripheralCrate/test/common/tmbtiming.cpp -text
emu/emuDCS/PeripheralCrate/xml/configTestBeam2004.xml -text
emu/emuDCS/PeripheralCrate/xml/readme -text
emu/emuDCS/PeripheralCrate/xml/test.xml -text
emu/emuDCS/PeripheralCrate/xml/xdaqPeripheralCrate.xml -text
emu/emuDCS/e2p/Makefile -text
emu/emuDCS/e2p/doc/readme -text
emu/emuDCS/e2p/include/DcsCommon.h -text
emu/emuDCS/e2p/include/DcsDimCommand.h -text
emu/emuDCS/e2p/include/DcsDimService.h -text
emu/emuDCS/e2p/include/DcsDimStructures.h -text
emu/emuDCS/e2p/include/EmuDcs.h -text
emu/emuDCS/e2p/include/Rc2Dcs.h -text
emu/emuDCS/e2p/src/common/DcsDimCommand.cxx -text
emu/emuDCS/e2p/src/common/DcsDimService.cxx -text
emu/emuDCS/e2p/src/common/EmuDcs.cxx -text
emu/emuDCS/e2p/src/common/Rc2Dcs.cxx -text
emu/emuDCS/e2p/test/common/EmuDcs_main.cxx -text
emu/emuDCS/e2p/test/common/main.cpp -text
emu/extern/dim/Makefile -text
emu/extern/dim/dim_v15r8.zip -text svneol=unset#unset
emu/extern/readme -text
