* text=auto !eol
emu/Makefile -text
emu/doc/html/index.html -text
emu/doc/html/overview.html -text
emu/emuDAQ/DDUReadout/Makefile -text
emu/emuDAQ/DDUReadout/ORCA/Muon/METBRawFormat/interface/MuEndDDUHeader.h -text
emu/emuDAQ/DDUReadout/include/BinaryEventStream.h -text
emu/emuDAQ/DDUReadout/include/DDUHyperDAQ.h -text
emu/emuDAQ/DDUReadout/include/DDUReader.h -text
emu/emuDAQ/DDUReadout/include/DDUUtilities.h -text
emu/emuDAQ/DDUReadout/include/EventStream.h -text
emu/emuDAQ/DDUReadout/include/FileReaderDDU.h -text
emu/emuDAQ/DDUReadout/include/HardwareDDU.h -text
emu/emuDAQ/DDUReadout/src/common/BinaryEventStream.cc -text
emu/emuDAQ/DDUReadout/src/common/DDUHyperDAQ.cc -text
emu/emuDAQ/DDUReadout/src/common/DDUReader.cc -text
emu/emuDAQ/DDUReadout/src/common/DDUUtilities.cc -text
emu/emuDAQ/DDUReadout/src/common/EventStream.cc -text
emu/emuDAQ/DDUReadout/src/common/FileReaderDDU.cc -text
emu/emuDAQ/DDUReadout/src/common/HardwareDDU.cc -text
emu/emuDAQ/DDUReadout/test/common/FileReaderDDU.cpp -text
emu/emuDAQ/DDUReadout/test/common/HardwareDumper.cpp -text
emu/emuDAQ/DDUReadout/test/common/HardwareMonitor.cpp -text
emu/emuDAQ/EmuRUI/Makefile -text
emu/emuDAQ/EmuRUI/include/EmuConfigRUI.h -text
emu/emuDAQ/EmuRUI/include/EmuRUI.h -text
emu/emuDAQ/EmuRUI/include/EmuRUISO.h -text
emu/emuDAQ/EmuRUI/include/EmuRUIV.h -text
emu/emuDAQ/EmuRUI/src/common/EmuConfigRUI.cc -text
emu/emuDAQ/EmuRUI/src/common/EmuRUI.cc -text
emu/emuDAQ/EmuRUI/src/common/EmuRUISO.cc -text
emu/emuDAQ/EmuRUI/src/common/EmuRUIV.cc -text
emu/emuDAQ/EmuRUI/xml/rui_ta.xml -text
emu/emuDAQ/EmuRUI/xml/rui_ta_fu.xml -text
emu/emuDAQ/GenericRUI/Makefile -text
emu/emuDAQ/GenericRUI/include/EventReader.h -text
emu/emuDAQ/GenericRUI/include/EventWriter.h -text
emu/emuDAQ/GenericRUI/include/GenericRUI.h -text
emu/emuDAQ/GenericRUI/include/RUIDataRequest.h -text
emu/emuDAQ/GenericRUI/include/RUIDataRequestListener.h -text
emu/emuDAQ/GenericRUI/src/common/GenericRUI.cc -text
emu/emuDAQ/Makefile -text
emu/emuDAQ/TriggerAdapter/Makefile -text
emu/emuDAQ/TriggerAdapter/include/TriggerAdapter.hh -text
emu/emuDAQ/TriggerAdapter/include/TriggerAdapterSO.hh -text
emu/emuDAQ/TriggerAdapter/include/TriggerAdapterV.hh -text
emu/emuDAQ/TriggerAdapter/src/common/TriggerAdapter.cc -text
emu/emuDAQ/TriggerAdapter/src/common/TriggerAdapterSO.cc -text
emu/emuDAQ/TriggerAdapter/src/common/TriggerAdapterV.cc -text
emu/emuDAQ/TriggerAdapter/xml/ta.xml -text
emu/emuDAQ/drivers/Makefile -text
emu/emuDAQ/drivers/bigphysarea_xxxx/Makefile -text
emu/emuDAQ/drivers/bigphysarea_xxxx/bin/eth_reset_mm2 -text
emu/emuDAQ/drivers/bigphysarea_xxxx/bin/ethdown -text
emu/emuDAQ/drivers/bigphysarea_xxxx/bin/loadddu -text
emu/emuDAQ/drivers/bigphysarea_xxxx/d550/Makefile -text
emu/emuDAQ/drivers/bigphysarea_xxxx/d550/dl2k.c -text
emu/emuDAQ/drivers/bigphysarea_xxxx/d550/dl2k.h -text
emu/emuDAQ/drivers/bigphysarea_xxxx/eth_hook_mmap_v0_2/Makefile -text
emu/emuDAQ/drivers/bigphysarea_xxxx/eth_hook_mmap_v0_2/eth_hook_2.c -text
emu/emuDAQ/drivers/bigphysarea_xxxx/eth_hook_mmap_v0_2/eth_hook_2.h -text
emu/emuDAQ/drivers/bigphysarea_xxxx/eth_hook_mmap_v0_2/schar.h -text
emu/emuDAQ/emuClient/include/EmuClient.h -text
emu/emuDAQ/emuClient/include/i2oEmuClientMsg.h -text
emu/emuDAQ/emuDAQtester/Makefile -text
emu/emuDAQ/emuDAQtester/images/ctrl32x32.gif -text
emu/emuDAQ/emuDAQtester/images/ctrl64x64.gif -text
emu/emuDAQ/emuDAQtester/images/rubtest32x32.gif -text
emu/emuDAQ/emuDAQtester/images/rubtest64x64.gif -text
emu/emuDAQ/emuDAQtester/include/EmuDAQtester.h -text
emu/emuDAQ/emuDAQtester/include/EmuDAQtesterV.h -text
emu/emuDAQ/emuDAQtester/include/emuDAQtester/exception/Exception.h -text
emu/emuDAQ/emuDAQtester/src/common/EmuDAQtester.cc -text
emu/emuDAQ/emuDAQtester/src/common/EmuDAQtesterV.cc -text
emu/emuDAQ/emuFU/Makefile -text
emu/emuDAQ/emuFU/images/fu32x32.gif -text
emu/emuDAQ/emuFU/images/fu64x64.gif -text
emu/emuDAQ/emuFU/include/EmuFU.h -text
emu/emuDAQ/emuFU/include/EmuFUV.h -text
emu/emuDAQ/emuFU/include/emuFU/Writer.h -text
emu/emuDAQ/emuFU/include/emuFU/exception/Exception.h -text
emu/emuDAQ/emuFU/src/common/EmuFU.cc -text
emu/emuDAQ/emuFU/src/common/EmuFUV.cc -text
emu/emuDAQ/emuRUI/Makefile -text
emu/emuDAQ/emuRUI/images/rui32x32.gif -text
emu/emuDAQ/emuRUI/images/rui64x64.gif -text
emu/emuDAQ/emuRUI/include/EmuRUI.h -text
emu/emuDAQ/emuRUI/include/EmuRUIV.h -text
emu/emuDAQ/emuRUI/include/EmuRUIWriter.h -text
emu/emuDAQ/emuRUI/include/emuRUI/Writer.h -text
emu/emuDAQ/emuRUI/include/emuRUI/exception/Exception.h -text
emu/emuDAQ/emuRUI/src/common/EmuRUI.cc -text
emu/emuDAQ/emuRUI/src/common/EmuRUIV.cc -text
emu/emuDAQ/emuTA/Makefile -text
emu/emuDAQ/emuTA/images/ta32x32.gif -text
emu/emuDAQ/emuTA/images/ta64x64.gif -text
emu/emuDAQ/emuTA/include/EmuTA.h -text
emu/emuDAQ/emuTA/include/EmuTAV.h -text
emu/emuDAQ/emuTA/include/SliceTestTriggerChunk.h -text
emu/emuDAQ/emuTA/include/emuTA/TriggerGenerator.h -text
emu/emuDAQ/emuTA/include/emuTA/exception/Exception.h -text
emu/emuDAQ/emuTA/src/common/EmuTA.cc -text
emu/emuDAQ/emuTA/src/common/EmuTAV.cc -text
emu/emuDAQ/emuTA/src/common/TriggerGenerator.cc -text
emu/emuDAQ/emuUtil/include/FileWriter.h -text
emu/emuDAQ/xml/EmuDAQ_with_ToyClient.xml -text
emu/emuDCS/FEDCrate/Makefile -text
emu/emuDCS/FEDCrate/include/CAENVMElib.h -text
emu/emuDCS/FEDCrate/include/CAENVMEoslib.h -text
emu/emuDCS/FEDCrate/include/CAENVMEtypes.h -text
emu/emuDCS/FEDCrate/include/Crate.h -text
emu/emuDCS/FEDCrate/include/CrateSelector.h -text
emu/emuDCS/FEDCrate/include/CrateSetup.h -text
emu/emuDCS/FEDCrate/include/DCC.h -text
emu/emuDCS/FEDCrate/include/DCCParser.h -text
emu/emuDCS/FEDCrate/include/DDU.h -text
emu/emuDCS/FEDCrate/include/DDUParser.h -text
emu/emuDCS/FEDCrate/include/DDUTester.h -text
emu/emuDCS/FEDCrate/include/EmuFController.h -text
emu/emuDCS/FEDCrate/include/EmuFCrateHyperDAQ.h -text
emu/emuDCS/FEDCrate/include/EmuFCrateSOAP.h -text
emu/emuDCS/FEDCrate/include/EmuFRunControlHyperDAQ.h -text
emu/emuDCS/FEDCrate/include/EmuParser.h -text
emu/emuDCS/FEDCrate/include/FEDCrateController.h -text
emu/emuDCS/FEDCrate/include/FEDCrateParser.h -text
emu/emuDCS/FEDCrate/include/GenDATA.h -text
emu/emuDCS/FEDCrate/include/JTAG_constants.h -text
emu/emuDCS/FEDCrate/include/OwnIt.h -text
emu/emuDCS/FEDCrate/include/Singleton.h -text
emu/emuDCS/FEDCrate/include/TestBeamCrateController.h -text
emu/emuDCS/FEDCrate/include/VMEController.h -text
emu/emuDCS/FEDCrate/include/VMEModule.h -text
emu/emuDCS/FEDCrate/include/VMEParser.h -text
emu/emuDCS/FEDCrate/include/elong.h -text
emu/emuDCS/FEDCrate/include/eth.h -text
emu/emuDCS/FEDCrate/include/geom.h -text
emu/emuDCS/FEDCrate/include/geom_def.h -text
emu/emuDCS/FEDCrate/include/vmeIRQ.h -text
emu/emuDCS/FEDCrate/include/vme_cmd.h -text
emu/emuDCS/FEDCrate/src/common/Crate.cc -text
emu/emuDCS/FEDCrate/src/common/CrateSelector.cc -text
emu/emuDCS/FEDCrate/src/common/CrateSetup.cc -text
emu/emuDCS/FEDCrate/src/common/DCC.cc -text
emu/emuDCS/FEDCrate/src/common/DCCParser.cc -text
emu/emuDCS/FEDCrate/src/common/DCC_old.cc -text
emu/emuDCS/FEDCrate/src/common/DDU.cc -text
emu/emuDCS/FEDCrate/src/common/DDUParser.cc -text
emu/emuDCS/FEDCrate/src/common/DDUTester.cc -text
emu/emuDCS/FEDCrate/src/common/DDU_old.cc -text
emu/emuDCS/FEDCrate/src/common/EmuFController.cc -text
emu/emuDCS/FEDCrate/src/common/EmuFCrateHyperDAQ.cc -text
emu/emuDCS/FEDCrate/src/common/EmuFCrateSOAP.cc -text
emu/emuDCS/FEDCrate/src/common/EmuFRunControlHyperDAQ.cc -text
emu/emuDCS/FEDCrate/src/common/EmuParser.cc -text
emu/emuDCS/FEDCrate/src/common/FEDCrateController.cc -text
emu/emuDCS/FEDCrate/src/common/FEDCrateParser.cc -text
emu/emuDCS/FEDCrate/src/common/TestBeamCrateController.cc -text
emu/emuDCS/FEDCrate/src/common/VMEController.cc -text
emu/emuDCS/FEDCrate/src/common/VMEController_jtag.cc -text
emu/emuDCS/FEDCrate/src/common/VMEModule.cc -text
emu/emuDCS/FEDCrate/src/common/VMEParser.cc -text
emu/emuDCS/FEDCrate/src/common/elong.cc -text
emu/emuDCS/FEDCrate/test/common/README -text
emu/emuDCS/FEDCrate/test/common/configTest.xml -text
emu/emuDCS/FEDCrate/test/common/ddutest.cpp -text
emu/emuDCS/FEDCrate/xml/EmuFCluster.xml -text
emu/emuDCS/FEDCrate/xml/README -text
emu/emuDCS/FEDCrate/xml/config.xml -text
emu/emuDCS/FEDCrate/xml/config2.xml -text
emu/emuDCS/FEDCrate/xml/xdaq_run -text
emu/emuDCS/Makefile -text
emu/emuDCS/PeripheralCore/include/ALCTController.h -text
emu/emuDCS/PeripheralCore/include/AnodeChannel.h -text
emu/emuDCS/PeripheralCore/include/BuckeyeChip.h -text
emu/emuDCS/PeripheralCore/include/CCB.h -text
emu/emuDCS/PeripheralCore/include/CFEB.h -text
emu/emuDCS/PeripheralCore/include/Chamber.h -text
emu/emuDCS/PeripheralCore/include/Crate.h -text
emu/emuDCS/PeripheralCore/include/CrateSelector.h -text
emu/emuDCS/PeripheralCore/include/CrateSetup.h -text
emu/emuDCS/PeripheralCore/include/DAQMB.h -text
emu/emuDCS/PeripheralCore/include/DAQMBTest.h -text
emu/emuDCS/PeripheralCore/include/DAQMBTester.h -text
emu/emuDCS/PeripheralCore/include/EmuPeripheralCrate.h -text
emu/emuDCS/PeripheralCore/include/GenDATA.h -text
emu/emuDCS/PeripheralCore/include/JTAG_constants.h -text
emu/emuDCS/PeripheralCore/include/MPC.h -text
emu/emuDCS/PeripheralCore/include/RAT.h -text
emu/emuDCS/PeripheralCore/include/TMB.h -text
emu/emuDCS/PeripheralCore/include/TMBTester.h -text
emu/emuDCS/PeripheralCore/include/TMB_constants.h -text
emu/emuDCS/PeripheralCore/include/VMEController.h -text
emu/emuDCS/PeripheralCore/include/VMEModule.h -text
emu/emuDCS/PeripheralCore/include/geom.h -text
emu/emuDCS/PeripheralCore/include/vme_cmd.h -text
emu/emuDCS/PeripheralCore/src/common/ALCTController.cc -text
emu/emuDCS/PeripheralCore/src/common/AnodeChannel.cc -text
emu/emuDCS/PeripheralCore/src/common/CCB.cc -text
emu/emuDCS/PeripheralCore/src/common/CFEB.cc -text
emu/emuDCS/PeripheralCore/src/common/Chamber.cc -text
emu/emuDCS/PeripheralCore/src/common/Crate.cc -text
emu/emuDCS/PeripheralCore/src/common/CrateSelector.cc -text
emu/emuDCS/PeripheralCore/src/common/CrateSetup.cc -text
emu/emuDCS/PeripheralCore/src/common/DAQMB.cc -text
emu/emuDCS/PeripheralCore/src/common/DAQMBTester.cc -text
emu/emuDCS/PeripheralCore/src/common/MPC.cc -text
emu/emuDCS/PeripheralCore/src/common/RAT.cc -text
emu/emuDCS/PeripheralCore/src/common/TMB.cc -text
emu/emuDCS/PeripheralCore/src/common/TMBTester.cc -text
emu/emuDCS/PeripheralCore/src/common/VMEController.cc -text
emu/emuDCS/PeripheralCore/src/common/VMEController_jtag.cc -text
emu/emuDCS/PeripheralCore/src/common/VMEModule.cc -text
emu/emuDCS/PeripheralCrate/Makefile -text
emu/emuDCS/PeripheralCrate/include/ALCTClasses.h -text
emu/emuDCS/PeripheralCrate/include/ALCTController.h -text
emu/emuDCS/PeripheralCrate/include/AnodeChannel.h -text
emu/emuDCS/PeripheralCrate/include/BuckeyeChip.h -text
emu/emuDCS/PeripheralCrate/include/CCB.h -text
emu/emuDCS/PeripheralCrate/include/CCBParser.h -text
emu/emuDCS/PeripheralCrate/include/CFEB.h -text
emu/emuDCS/PeripheralCrate/include/CalibDAQ.h -text
emu/emuDCS/PeripheralCrate/include/Chamber.h -text
emu/emuDCS/PeripheralCrate/include/ChamberUtilities.h -text
emu/emuDCS/PeripheralCrate/include/Crate.h -text
emu/emuDCS/PeripheralCrate/include/CrateSelector.h -text
emu/emuDCS/PeripheralCrate/include/CrateSetup.h -text
emu/emuDCS/PeripheralCrate/include/CrateUtilities.h -text
emu/emuDCS/PeripheralCrate/include/CrateUtils.h -text
emu/emuDCS/PeripheralCrate/include/DAQMB.h -text
emu/emuDCS/PeripheralCrate/include/DAQMBParser.h -text
emu/emuDCS/PeripheralCrate/include/DAQMBTest.h -text
emu/emuDCS/PeripheralCrate/include/DAQMBTester.h -text
emu/emuDCS/PeripheralCrate/include/DDU.h -text
emu/emuDCS/PeripheralCrate/include/DDUParser.h -text
emu/emuDCS/PeripheralCrate/include/EmuController.h -text
emu/emuDCS/PeripheralCrate/include/EmuCrateHyperDAQ.h -text
emu/emuDCS/PeripheralCrate/include/EmuCrateSOAP.h -text
emu/emuDCS/PeripheralCrate/include/EmuParser.h -text
emu/emuDCS/PeripheralCrate/include/EmuPeripheralCrate.h -text
emu/emuDCS/PeripheralCrate/include/EmuPeripheralCrateSO.h -text
emu/emuDCS/PeripheralCrate/include/EmuPeripheralCrateV.h -text
emu/emuDCS/PeripheralCrate/include/EmuRunControlHyperDAQ.h -text
emu/emuDCS/PeripheralCrate/include/GenDATA.h -text
emu/emuDCS/PeripheralCrate/include/JTAG_constants.h -text
emu/emuDCS/PeripheralCrate/include/MPC.h -text
emu/emuDCS/PeripheralCrate/include/MPCParser.h -text
emu/emuDCS/PeripheralCrate/include/OwnIt.h -text
emu/emuDCS/PeripheralCrate/include/PCDriverI2oListener.h -text
emu/emuDCS/PeripheralCrate/include/PCI2oMsgs.h -text
emu/emuDCS/PeripheralCrate/include/PeripheralCrateController.h -text
emu/emuDCS/PeripheralCrate/include/PeripheralCrateParser.h -text
emu/emuDCS/PeripheralCrate/include/RAT.h -text
emu/emuDCS/PeripheralCrate/include/Singleton.h -text
emu/emuDCS/PeripheralCrate/include/TMB.h -text
emu/emuDCS/PeripheralCrate/include/TMBParser.h -text
emu/emuDCS/PeripheralCrate/include/TMBTester.h -text
emu/emuDCS/PeripheralCrate/include/TMB_JTAG_constants.h -text
emu/emuDCS/PeripheralCrate/include/TMB_constants.h -text
emu/emuDCS/PeripheralCrate/include/TestBeamCrateController.h -text
emu/emuDCS/PeripheralCrate/include/VMEController.h -text
emu/emuDCS/PeripheralCrate/include/VMEModule.h -text
emu/emuDCS/PeripheralCrate/include/VMEParser.h -text
emu/emuDCS/PeripheralCrate/include/alct_registers.h -text
emu/emuDCS/PeripheralCrate/include/elong.h -text
emu/emuDCS/PeripheralCrate/include/geom.h -text
emu/emuDCS/PeripheralCrate/include/vme_cmd.h -text
emu/emuDCS/PeripheralCrate/src/common/ALCTController.cc -text
emu/emuDCS/PeripheralCrate/src/common/AnodeChannel.cc -text
emu/emuDCS/PeripheralCrate/src/common/CCB.cc -text
emu/emuDCS/PeripheralCrate/src/common/CCBParser.cc -text
emu/emuDCS/PeripheralCrate/src/common/CFEB.cc -text
emu/emuDCS/PeripheralCrate/src/common/CalibDAQ.cc -text
emu/emuDCS/PeripheralCrate/src/common/Chamber.cc -text
emu/emuDCS/PeripheralCrate/src/common/ChamberUtilities.cc -text
emu/emuDCS/PeripheralCrate/src/common/Crate.cc -text
emu/emuDCS/PeripheralCrate/src/common/CrateSelector.cc -text
emu/emuDCS/PeripheralCrate/src/common/CrateSetup.cc -text
emu/emuDCS/PeripheralCrate/src/common/CrateUtilities.cc -text
emu/emuDCS/PeripheralCrate/src/common/CrateUtils.cc -text
emu/emuDCS/PeripheralCrate/src/common/DAQMB.cc -text
emu/emuDCS/PeripheralCrate/src/common/DAQMBParser.cc -text
emu/emuDCS/PeripheralCrate/src/common/DAQMBTester.cc -text
emu/emuDCS/PeripheralCrate/src/common/DAQMB_jtag.cc -text
emu/emuDCS/PeripheralCrate/src/common/DDU.cc -text
emu/emuDCS/PeripheralCrate/src/common/DDUParser.cc -text
emu/emuDCS/PeripheralCrate/src/common/EmuController.cc -text
emu/emuDCS/PeripheralCrate/src/common/EmuCrateHyperDAQ.cc -text
emu/emuDCS/PeripheralCrate/src/common/EmuCrateSOAP.cc -text
emu/emuDCS/PeripheralCrate/src/common/EmuParser.cc -text
emu/emuDCS/PeripheralCrate/src/common/EmuPeripheralCrate.cc -text
emu/emuDCS/PeripheralCrate/src/common/EmuPeripheralCrateSO.cc -text
emu/emuDCS/PeripheralCrate/src/common/EmuPeripheralCrateV.cc -text
emu/emuDCS/PeripheralCrate/src/common/EmuRunControlHyperDAQ.cc -text
emu/emuDCS/PeripheralCrate/src/common/MPC.cc -text
emu/emuDCS/PeripheralCrate/src/common/MPCParser.cc -text
emu/emuDCS/PeripheralCrate/src/common/PCDriverI2oListener.cpp -text
emu/emuDCS/PeripheralCrate/src/common/PeripheralCrateController.cc -text
emu/emuDCS/PeripheralCrate/src/common/PeripheralCrateParser.cc -text
emu/emuDCS/PeripheralCrate/src/common/RAT.cc -text
emu/emuDCS/PeripheralCrate/src/common/TMB.cc -text
emu/emuDCS/PeripheralCrate/src/common/TMBParser.cc -text
emu/emuDCS/PeripheralCrate/src/common/TMBTester.cc -text
emu/emuDCS/PeripheralCrate/src/common/TMB_trgmode.cc -text
emu/emuDCS/PeripheralCrate/src/common/TestBeamCrateController.cc -text
emu/emuDCS/PeripheralCrate/src/common/VMEController.cc -text
emu/emuDCS/PeripheralCrate/src/common/VMEController_jtag.cc -text
emu/emuDCS/PeripheralCrate/src/common/VMEModule.cc -text
emu/emuDCS/PeripheralCrate/src/common/VMEParser.cc -text
emu/emuDCS/PeripheralCrate/src/common/elong.cc -text
emu/emuDCS/PeripheralCrate/test/common/CrateScan.cpp -text
emu/emuDCS/PeripheralCrate/test/common/alctmain.cpp -text
emu/emuDCS/PeripheralCrate/test/common/calibpulse.cpp -text
emu/emuDCS/PeripheralCrate/test/common/contrmain.cpp -text
emu/emuDCS/PeripheralCrate/test/common/loadALCT.cpp -text
emu/emuDCS/PeripheralCrate/test/common/mpc2sp.cpp -text
emu/emuDCS/PeripheralCrate/test/common/parsemain.cpp -text
emu/emuDCS/PeripheralCrate/test/common/slicetestconfig.cpp -text
emu/emuDCS/PeripheralCrate/test/common/testbeamcontrol.cpp -text
emu/emuDCS/PeripheralCrate/test/common/testtmbmain.cpp -text
emu/emuDCS/PeripheralCrate/xml/EmuCluster.xml -text
emu/emuDCS/PeripheralCrate/xml/configTestBeam2004.xml -text
emu/emuDCS/PeripheralCrate/xml/readme -text
emu/emuDCS/PeripheralCrate/xml/test.xml -text
emu/emuDCS/PeripheralCrate/xml/xdaqPeripheralCrate.xml -text
emu/emuDCS/drivers/Makefile -text
emu/emuDCS/drivers/OSUcc_and_DDU/Makefile -text
emu/emuDCS/drivers/OSUcc_and_DDU/compile -text
emu/emuDCS/drivers/OSUcc_and_DDU/dl2k.c -text
emu/emuDCS/drivers/OSUcc_and_DDU/dl2k.c_old -text
emu/emuDCS/drivers/OSUcc_and_DDU/dl2k.h -text
emu/emuDCS/drivers/OSUcc_and_DDU/eth_hook.c -text
emu/emuDCS/drivers/OSUcc_and_DDU/eth_hook.h -text
emu/emuDCS/drivers/OSUcc_and_DDU/eth_hook_2.c -text
emu/emuDCS/drivers/OSUcc_and_DDU/eth_hook_2.h -text
emu/emuDCS/drivers/OSUcc_and_DDU/ethreset -text
emu/emuDCS/drivers/OSUcc_and_DDU/ethreset1 -text
emu/emuDCS/drivers/modules1OSUcc/Makefile -text
emu/emuDCS/drivers/modules1OSUcc/compile -text
emu/emuDCS/drivers/modules1OSUcc/dl2k.c -text
emu/emuDCS/drivers/modules1OSUcc/dl2k.h -text
emu/emuDCS/drivers/modules1OSUcc/eth_hook.c -text
emu/emuDCS/drivers/modules1OSUcc/eth_hook.h -text
emu/emuDCS/drivers/modules1OSUcc/ethreset -text
emu/emuDCS/drivers/modules2OSUcc/Makefile -text
emu/emuDCS/drivers/modules2OSUcc/compile -text
emu/emuDCS/drivers/modules2OSUcc/ddu/eth_hook_2.c -text
emu/emuDCS/drivers/modules2OSUcc/ddu/eth_hook_2.h -text
emu/emuDCS/drivers/modules2OSUcc/dl2k.c -text
emu/emuDCS/drivers/modules2OSUcc/dl2k.h -text
emu/emuDCS/drivers/modules2OSUcc/eth_hook.c -text
emu/emuDCS/drivers/modules2OSUcc/eth_hook.h -text
emu/emuDCS/drivers/modules2OSUcc/eth_hook_2.c -text
emu/emuDCS/drivers/modules2OSUcc/eth_hook_2.h -text
emu/emuDCS/drivers/modules2OSUcc/ethreset -text
emu/emuDCS/e2p/Makefile -text
emu/emuDCS/e2p/config/Makefile_dcscontrol_web -text
emu/emuDCS/e2p/config/Makefile_emudcs_d360 -text
emu/emuDCS/e2p/config/Makefile_emudcs_osu -text
emu/emuDCS/e2p/config/Makefile_pc_d360 -text
emu/emuDCS/e2p/config/Makefile_pc_dcscontrol_web -text
emu/emuDCS/e2p/config/Makefile_pc_osu -text
emu/emuDCS/e2p/config/Makefile_print -text
emu/emuDCS/e2p/config/TestBeamCrateController_orig.cc -text
emu/emuDCS/e2p/config/TestBeamCrateController_simple.cc -text
emu/emuDCS/e2p/config/TestBeamCrateController_simple.h -text
emu/emuDCS/e2p/config/compile_dcs_control_v3 -text
emu/emuDCS/e2p/config/complex -text
emu/emuDCS/e2p/config/complexnowait -text
emu/emuDCS/e2p/config/simple -text
emu/emuDCS/e2p/config/testbeamcontrol_complex_nowait.cpp -text
emu/emuDCS/e2p/config/testbeamcontrol_orig.cpp -text
emu/emuDCS/e2p/config/testbeamcontrol_simple.cpp -text
emu/emuDCS/e2p/config/xdaq_web -text
emu/emuDCS/e2p/doc/readme -text
emu/emuDCS/e2p/include/CrateSetupOCCI.h -text
emu/emuDCS/e2p/include/DcsCommon.h -text
emu/emuDCS/e2p/include/DcsControlWebXdaq.h -text
emu/emuDCS/e2p/include/DcsControlWebXdaq_first.h -text
emu/emuDCS/e2p/include/DcsDimCommand.h -text
emu/emuDCS/e2p/include/DcsDimService.h -text
emu/emuDCS/e2p/include/DcsDimStructures.h -text
emu/emuDCS/e2p/include/EmuDcs.h -text
emu/emuDCS/e2p/include/Rc2Dcs.h -text
emu/emuDCS/e2p/include/RunControlDummy.h -text
emu/emuDCS/e2p/src/common/DcsControlWebXdaq.cc -text
emu/emuDCS/e2p/src/common/DcsDimCommand.cxx -text
emu/emuDCS/e2p/src/common/DcsDimService.cxx -text
emu/emuDCS/e2p/src/common/EmuDcs.cxx -text
emu/emuDCS/e2p/src/common/Rc2Dcs.cxx -text
emu/emuDCS/e2p/test/common/EmuDcs_main.cxx -text
emu/emuDCS/e2p/test/common/dcscontrol.cpp -text
emu/emuDCS/e2p/test/common/dcsrc.cpp -text
emu/emuDCS/e2p/test/common/lvget.cpp -text
emu/emuDCS/e2p/test/common/main.cpp -text
emu/emuDCS/e2p/test/common/test_rc2dcs.cpp -text
emu/emuDCS/e2p/xml/DcsControlWebXdaq.xml -text
emu/emuDCS/e2p/xml/DcsControlWebXdaq_1973.xml -text
emu/emuDCS/svf/alct672.svf -text
emu/emuDCS/svf/alctcrc384mirror.svf -text
emu/emuDCS/svf/cfeb_v4_r2.svf -text
emu/emuDCS/svf/dmb6cntl_v17_r2.svf -text
emu/emuDCS/svf/feb_v6_r1_samp8.svf -text
emu/emuDCS/svf/tmb2005e.svf -text
emu/extern/dim/Makefile -text
emu/extern/dim/dim_v15r8.zip -text svneol=unset#unset
emu/extern/readme -text
